In [1]:
import pandas as pd

In [2]:
# assign dataset
csvData = pd.read_csv("records.csv")

In [3]:
# displaying unsorted data frame
print("\nBefore sorting:")
print(csvData)

Before sorting:
   ID    Name    Role  Salary
0   1  Pankaj  Editor   10000
1   2    Lisa  Editor    8000
2   3   David  Author    6000
3   4     Ram  Author    4000
4   5  Anupam  Author    5000

In [5]:
#sorting the dataset
csvData.sort_values(["Salary"],axis=0, ascending=[True], inplace=True)

In [6]:
# displaying sorted data frame
print("\nAfter sorting:")
print(csvData)

After sorting:
   ID    Name    Role  Salary
3   4     Ram  Author    4000
4   5  Anupam  Author    5000
2   3   David  Author    6000
1   2    Lisa  Editor    8000
0   1  Pankaj  Editor   10000

In [7]:
# Transposing the dataset
df = pd.read_csv('records.csv')

In [8]:
print(df)

   ID    Name    Role  Salary
0   1  Pankaj  Editor   10000
1   2    Lisa  Editor    8000
2   3   David  Author    6000
3   4     Ram  Author    4000
4   5  Anupam  Author    5000

In [9]:
print(df.T)

             0       1       2       3       4
ID           1       2       3       4       5
Name    Pankaj    Lisa   David     Ram  Anupam
Role    Editor  Editor  Author  Author  Author
Salary   10000    8000    6000    4000    5000

In [10]:
print(df.shape)

(5, 4)

In [11]:
print(df.size)

20

In [12]:
#shape of the data
print(df)

   ID    Name    Role  Salary
0   1  Pankaj  Editor   10000
1   2    Lisa  Editor    8000
2   3   David  Author    6000
3   4     Ram  Author    4000
4   5  Anupam  Author    5000

In [13]:
print(df.shape)

(5, 4)

In [14]:
print(df.size)

20